/* index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 0;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .contact-info a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }

  .tab-container {
    display: inside;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    }
    
    .tab-button {
        background-color: white(116, 116, 116);
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 4px; 
    }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  