body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(191, 17, 17, 0.1);
  }

.tab-container {
    display: inside;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    }

    .tab-button {
        background-color: white(116, 116, 116);
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 4px; 
    }

  .proj{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }